/* STYLES FOR THE british PEDAL */

@import url(/fonts/england-hand/stylesheet.css);

/* = CONTAINER
================================================ */
.mod-pedal-british{{{cns}}} {
    background-position:center center;
    background-repeat:no-repeat;
    height:431px;
    position:absolute;
    width:230px;
    border-radius: 18px;
    border-radius: 80px 82px 80px 82px;
}

/* = BACKGROUND IMAGES - Colour of the pedal
================================================ */
.mod-pedal-british{{{cns}}}.mod-metallic {
    background-image:url(/resources/pedals/pedal2.png{{{ns}}});
}


.mod-pedal-british{{{cns}}} .mod-pedal-input,
.mod-pedal-british{{{cns}}} .mod-pedal-output {
    top: 96px;
}


/* = PLUGIN'S AUTHOR
================================================ */
.mod-pedal-british{{{cns}}} .mod-plugin-brand {
    left:30px;
    position:absolute;
    right:30px;
    text-align:center;
    top:340px;
}

.mod-pedal-british{{{cns}}} .mod-plugin-brand h1 {
    color:#777471;
    font-family:"EnglandHand";
    font-size:38px;
    text-shadow:-1px -1px -1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,0.5);
}

/* = PLUGIN'S NAME
================================================ */
.mod-pedal-british{{{cns}}} .mod-plugin-name {
    left:10px;
    overflow:hidden;
    position:absolute;
    right:20px;
    text-align:right;
    top:210px;
}

.mod-pedal-british{{{cns}}} .mod-plugin-name h1 {
    color:#777471;
    font-family:"Questrial";
    font-size:24px;
    line-height:1;
}

/* = LIGHT ON/OFF
================================================ */
.mod-pedal-british{{{cns}}} .mod-light {
    height:32px;
    left:102px;
    position:absolute;
    top:260px;
    width:32px;
}

/* = FOOTSWITCH
================================================ */
.mod-pedal-british{{{cns}}} .mod-footswitch {
    background-image:url(/resources/pedals/footswitch.png{{{ns}}});
    background-position:bottom center;
    background-repeat:no-repeat;
    background-size:auto 132px;
    bottom:72px;
    cursor:pointer;
    height:66px;
    width: 66px;
    left:85px;
    margin: auto;
    position:absolute !important;
    right:100px;
}
.mod-pedal-british{{{cns}}} .mod-footswitch.on {
    background-position-y: top !important
}

/* = KNOBS
================================================ */
.mod-pedal-british{{{cns}}} .mod-control-group {
    height:141px;
    left:10px;
    margin:0;
    position:absolute;
    right:10px;
    text-align:center;
    top:26px;
    z-index:30;
}

.mod-pedal-british{{{cns}}} .mod-control-group .mod-knob {
    display:inline-block;
    height:80px;
    overflow:hidden;
    position:relative;
    text-align:center;
    width:64px;
}

.mod-pedal-british{{{cns}}} .mod-control-group .mod-knob .mod-knob-image {
    background-image:url(/resources/knobs/british/british.png{{{ns}}});
    background-position:left center;
    background-repeat:no-repeat;
    background-size:auto 64px;
    height:64px;
    margin:0 auto;
    overflow:hidden;
    position:relative;
    width:64px;
}

.mod-pedal-british{{{cns}}} .mod-control-group .mod-knob > span.mod-knob-title {
    color:#777471;
    display:block;
    font-size:11px;
    font-weight:bold;
    height:12px;
    line-height:1;
    margin:0;
    padding:0;
    text-transform:uppercase;
}


/* SEPARATOR */
.mod-pedal-british{{{cns}}} .mod-control-group .mod-spacer {
    display: inline-block;
    float: center;
    height: 61px;
    margin-top: 2px;
    width: 31px;
}


.mod-pedal-british{{{cns}}}.mod-seven-knobs .mod-control-group,
.mod-pedal-british{{{cns}}}.mod-eight-knobs .mod-control-group {
    margin:0 6px;
}

.mod-pedal-british{{{cns}}}.mod-seven-knobs .mod-control-group .mod-knob,
.mod-pedal-british{{{cns}}}.mod-eight-knobs .mod-control-group .mod-knob {
    display:inline-block;
}
